<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <a id="titlename" href="#" class="navbar-brand">ELECTRA</a>
  <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#myNav"
      >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
          User name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
      </li>
    </ul>
  </div>
</nav>
