<div class="search-block">
  <h1 class="welcome">Welcome to</h1>
  <h1 class="student">Students Community</h1>
  <p class="search">
    <input type="search" name="search" id="search" placeholder="Search..."/>
  </p>
</div>
<div id="create_question">
  <button>
    <i class="fa fa-plus-circle" aria-hidden="true"></i> Ask Question
  </button>
</div>
<div id="allq">
  <%= render partial: "questions" %>
</div>
